# Compiled class files
*.class

# Log files
*.log

# Build directories
/build/
bin/
out/

# Maven files
target/
!.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle files
.gradle/
build/

# Eclipse files
.settings/
.classpath
.project

# IntelliJ IDEA files
.idea/
*.iml
out/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# User-specific files
*.user
*.sublime-project
*.sublime-workspace
